* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.iconSwitch {
  display: block;
  text-align: right;
  padding-top: 15px;
  background-color: black;
}

.ShopCard {
  padding-top: 50px;

  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;

  text-align: center;
}

.ShopCard > li {
  box-shadow: 10px 10px 25px rgb(189, 181, 181);
}

.ShopCard > li > img {
  width: 75%;
}

.shopItem {
  list-style-type: none;
  margin-bottom: 15px;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopItem > span > img {
  width: 350px;
}